*:focus {
    outline: none;
}

body {
	background-color: #201a16;
}
.header-inner {
	width:95%;
	padding:20px 0 20px 10px;
	display:table;
	margin:auto;
}
#siteTitle {
	font-family: "futura-pt";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    float:left;
}
#main {
	height:700px;
	width:100%;
	background-image: url("images/TrendiGuruLogo_10.10.14.jpg?format=1500w");
	background-position: center 57%;
	background-repeat:no-repeat;
	background-size: 1250px 1250px;
	background-color:#fff;
}

.welcome {
	float:right;
	color: #fff;
}

/* table layout */
.welcome .buttons {
	margin-top:5px;
}

.invalid {
	border: 1px solid red;
}
#errorBox {
	color:red;
	height: 20px;
    line-height: 19px;
    background-color:#fff;
    margin: 0 0 2px 0;
    text-align: center;
    font-family: "futura-pt";
}
#loader {
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.1);
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
}
.row {
	clear:both;
	overflow:hidden;
	margin-top: 4px;
	height:53px;
}
form .left {
	float:left;	
	
}
form .center {
	float:left;
	margin: 0 4px 0 4px;
}
form .right {
	float:right;
	/*margin: 0 2px 0 0;*/
}

.signUpLink {
	font-family: "futura-pt";
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    line-height: 55px;
    color: #fff;
}
}