*:focus {
    outline: none;
}

body {
	background-color: rgba(32,26,22,.7);
}
.header-inner {
	width:95%;
	padding:20px 0 20px 10px;
	display:table;
	margin:auto;
}
#siteTitle {
	font-family: "futura-pt";
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    float:left;
}
#main {
	height:700px;
	width:100%;
	background-image: url("images/TrendiGuruLogo_10.10.14.jpg?format=1500w");
	background-position: center 57%;
	background-repeat:no-repeat;
	background-size: 1250px 1250px;
	background-color:#fff;
}

#loginForm, #signUpForm {
	float:right;
}
#loginForm .title, .welcome, #signUpForm .title, #errorBox {
	font-family: "futura-pt";
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    /*line-height: 1em;*/
    color:#fff;
}
#loginForm input {
	margin: 0 5px;
}
#loginForm #email {
	margin-right:25px;
}

.welcome {
	float:right;
	margin-top:7px;
}

/* table layout */
.welcome .buttons {
	margin-top:5px;
}

.container {
  display: table;
}
.row {
  display: table-row;
}
.column {
  display: table-cell;
  width: 326px;
  padding: 2px 0;
  line-height:21px;
}
.colspan2 {
	display:table-caption;
	text-align:center;
	color: red;
    background-color: white;
    margin: 0 0 3px 0;
}
.column:nth-child(even) {
	padding: 0 0 0 15px;
}

#signUpForm input, #signUpForm button {
	float:right;
}
input.invalid {
	border: 1px solid red;
}
#errorBox {
	color:red;
	height: 20px;
    line-height: 21px;
}
#loader {
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.1);
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
}